/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    color: #333;
    font-size: 1.1em; 
}

.whole {
    display: flex;
    height: 100vh;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    min-width: 200px;
    height: 100vh;
    background-color: #5d5a5a;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #5d5a5a;
}

.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-bottom: 2px solid #ccc;
}

.menu a:hover {
    background-color: #111;
}

main {
    flex: 1;
    overflow-y: auto;
}

/* Section styling */
section {
    display:flex;
    min-width: 500px;
    max-width: 800px;
    margin:auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-left: 20px;
    font-size: 2em;
    color: #3498db;
    margin-bottom: 10px;
}

img {
    display: block;
    float: left;
    margin: 15px;
    border-radius: 10px;
    max-width: 45%;
    height: auto;
}

/* Footer styling */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1.1em;
    color: #666;
}

footer a {
    text-decoration: #3498db;
    text-decoration: underline;
}
